<template name="blogPage">

{{#if posts}}
	{{#each posts}}
		<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
			<div class="w3-container w3-margin-top">
			    <h5 class="w3-opacity"><b><a href="/blog/{{_id}}" class="navlink">{{title}}</a></b></h5>

			    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{date}}</h6>

			    <div class="blog-post">
			    	{{{markdownify body}}}
			    </div>

			    <hr>
			</div>
		</div>
	{{/each}}

{{else}}
	<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
		<div class="w3-container w3-margin-top">
		    <h5 class="w3-opacity"><b>No posts yet!</b></h5>
		    <hr>
		</div>
	</div>
{{/if}}


</template>