<template name="home">

<div class="w3-container w3-card-2 w3-white w3-margin-bottom">

	<h2 class="w3-text-grey w3-padding-16">
      <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
      Welcome to the blog of Douglas Rumbaugh!
    </h2>

</div>

<div class="w3-container w3card-2 w3-white w3-margin-bottom">
<p>
Salve! I'm Doug Rumbaugh, and this is my Web site. I am a man of many interests, in possession of a degree in Software Engineering and, with some luck, soon a degree in Mechanical Engineering as well. During my short (so far, anyway) career in IT I've worked on a diverse set of systems, from IBM Mainframes to a very impressive set of servers running RHEL. From IBM IMS to Oracle, and many databases in between. Presently, I'm building a data warehouse from the ground up on a shoestring (i.e., non-existent) budget using MySQL and a few very inexpensive cloud servers, while attending graduate classes at Lehigh University for Mechanical Engineering, and working as a research assistant.
</p>
<p>
Web development is not something that I've done much of before. So this whole coding a website thing is very new to me. As a result, this site is pretty barebones and the code is sub-optimal. Case and point, I'm typing this text directly into a div using vim on my web server. In any event, this site is a learning experience for me to be sure! So expect to see it change with some frequency as I figure this stuff out. And I'd like to thank Alec Wantoch, a friend of mine, for taking the time to set up the basic layout and code for this site to give me something to build from!
</p>
</div>

</template>
