<template name="leftColumn">

    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">

        <div class="w3-display-container">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAZzAAAAJDNmZTZmYzE0LTQzNWYtNDNkMi04ZmQ0LWY4NWExNTc0NTJjNQ.jpg" 
               style="width:100%" alt="Profile Picture">

          <div class="w3-container w3-text-black w3-light-grey">
            <h2>Douglas Rumbaugh</h2>
          </div>
        </div>

        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Engineer</p>

          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Pennsylvania, USA</p>

          <p><a href="mailto:dbrumbaugh@my.harrisburgu.edu" class="navlink">
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>dbrumbaugh</a></p>

          <p><a href="sip:333-333-3333" class="navlink">
            <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>333-333-3333</a></p>

          <hr/>

          {{> navigation }}

        </div>

      </div><br/>
    </div>

</template>